@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin "tailwind-plugin-typed" {
  delimiter: ';',
  typeLetterDuration: 0.1,
  pauseAfterWordDuration: 2,
  deleteLetterDuration: 0.05,
  pauseAfterDeletionDuration: 1,
}

:root {
  --text-color: #fff;
  --bg-color: #fff;
  --body-font: 'Rubik', sans-serif;
}

@theme {
  --font-display: 'Rubik', sans-serif;
  --animate-slide: slide 2s;
}

@keyframes typing {
  from { width: 0; }
  to { width: 6ch; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
   background-color: whitesmoke;
}